# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env

# FAISS index and embeddings
*.faiss
*.pkl

# LangChain & Chroma vectorstore directories
vectorstore/
db/
index/

# VS Code / PyCharm settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Output or static files
*.pdf
*.json
*.txt
*.docx
*.doc
